body {
    font-family: 'Roboto', Tahoma, sans-serif;
}

.container {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 20em;
    margin: 7.64em auto 0 auto;
    padding: 4.72em;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(60, 65, 70, 0.2);
    letter-spacing: 2px;
    text-align: center;
    background: white;
    border: 1px solid transparent;
}

.box:hover {
    box-shadow: 0 4px 12px rgba(35, 38, 40, 0.2);
}

.p {
    font-size: 11pt;
    margin: 2.92em 0 0 0;
    color: #686968;
}

a {
    color: #F48024;
}

.box {
    cursor: pointer;
    position: relative;
}

.box.selected {
    border: 1px solid #d4f4d4;
    box-shadow: 0 4px 8px rgba(32, 185, 67, 0.31);
    /* transition: 0.5s; */
    
    background-repeat: no-repeat;
    background-image: url(/checkico.svg);
    background-position-x: 100%;
    background-size: 62px;
}

svg,
svg rect {
    fill: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    stroke: #18962d;
    stroke-width: 4px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    transition: 0.5s;
}

.selected svg,
.selected svg rect {
    stroke-dashoffset: 0;
}

.guid {display: none;}


