form {
    display: flex;
    flex-direction: column;
    width: 20em;
}

label,
input[type=submit] {
    margin: 1em 0 0 0;
}

h2 {
    font-size: larger;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 64px;
    overflow-y: auto;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: #fff;
    backdrop-filter: blur(16px);
    background-image: url(/img/footer_dark.svg);
}


.menu a {
    display: flex;
    padding: 0.2em 1em;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
    color: gray; 
}

.menu a:active {
    color: black;
}

@media (prefers-color-scheme: dark) {

    .menu {
        border-top: 1px solid #333;
        background-color: #12151eee;
    }

    .ico {
        filter: invert();
    }
}

.menu a:hover {
    text-decoration: underline;
}

.ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.1em;
}

.search {
    background-color: currentColor;
    mask-image: url(/img/search.svg);
}

.visits {
    background-color: currentColor;
    -webkit-mask-image: url(/img/visits.svg);
    ;
    mask-image: url(/img/visits.svg);
}

#searchbiz {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.date {}

#visits {
    padding: 1em;
}

#visitbypages {
    display: flex;
    flex-direction: column;
}

.visit {
    display: flex;
    align-items: center;
    line-height: 32px;
    background: #111;
    margin: 2px;
}

.visitid {
    margin: 0 16px;
}

.visit span {
    padding: 0 1em;
}

.sp {
    flex: auto;
}

span {
    color: inherit;
}